@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="mb-4">Privacy Policy</h2>

            <h5 class="mt-4">What We Collect</h5>
            <p>We keep things simple and collect minimal data to help ensure you can use the site as intended. This includes data in plaintext cookie, and comment nicknames.

            <h5 class="mt-4">Data Retention</h5>
            <p>We do NOT collect any personally identifiable information  - confessions are completely anonymous. Do keep in mind any confession or comment you post are completely public! 
                Site administrators can view, edit or delete any user-submitted content. However, they CANNOT see who posted what, as this information is not stored.</p>

            <h5 class="mt-4">Questions?</h5>
            <p>For privacy concerns or to request content removal, please contact as at info(at)confessions(dot)com.</p>
        </div>
    </div>
</div>